<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="a">
    <section id="Actualizar">
        <form method="POST" action="/update/{{employee.id}}">
            {% csrf_token %}
            <div>
                <br>
                <p>
                <h3>Actualizar Datos</h3>
                </p>
            </div>
            <div>
                <p>ID Empleado:</p>
                <div>
                    <input type="text" name="eid" value="{{employee.eid}}" />
                </div>
            </div>
            <div>
                <p>Nombre Empleado:</p>
                <div>
                    <input type="text" name="ename" value="{{employee.ename}}" />
                </div>
            </div>
            <div>
                <p>Correo Empleado:</p>
                <div>
                    <input type="email" name="eemail" value="{{employee.eemail}}" />
                </div>
            </div>
            <div>
                <p>Número Empleado:</p>
                <div>
                    <input type="text" name="econtact" value="{{employee.econtact}}" />
                </div>
            </div>
            <div>
                <p>Dirección Empleado:</p>
                <div>
                    <input type="text" name="eaddress" value="{{employee.eaddress}}" />
                </div>
            </div>
            <div>
                <p>Edad Empleado:</p>
                <div>
                    <input type="text" name="eage" value="{{employee.eage}}" />
                </div>
            </div>
            <div>
                <br>
                <button type="submit">Actualizar</button>
            </div>
    </section>
    </form>
</body>

</html>